
/* Fade-in animation utility for sections */
.animate-fadein {
  opacity: 0;
  transform: translateY(60px);
  animation: fadeInUp 1s cubic-bezier(0.23, 1, 0.32, 1) forwards;
}
.animate-fadein-delay1 {
  animation-delay: 0.3s;
}
.animate-fadein-delay2 {
  animation-delay: s;
}
.animate-fadein-delay3 {
  animation-delay: 0.9s;
}
@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-family-kode-mono: var(--font-kode-mono);
  --font-family-roboto-mono: var(--font-roboto-mono);
  --font-family-noto-sans: var(--font-noto-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-roboto-mono), Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(60px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.stagger-fadein {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s, transform 0.6s;
}

.stagger-fadein.visible {
  opacity: 1;
  transform: translateY(0);
}

