.text-block {
 
  max-width: 800px;
  font-family: monospace;
  font-size: clamp(14px, 4vw, 20px);
  color: #D5D5DC;
  font-family: monospace;
  font-weight: bold;
  letter-spacing: 0.3em;
  height: 36px;
  margin: 15%;
  margin-top: 1%;
  margin-bottom: 0px;
}

.char {
  will-change: transform;
  display: inline-block;
}

